<h1>Sign In</h1>
<form action="login_submit" method="get" accept-charset="utf-8">
	<label>Username:</label><input type="textfield"></input><br/>
	<label>Password:</label><input type="password"></input>

	<p><input type="submit" value="Login"></p>
</form>