<tr>
  <td class="micropost">
	<span class="content"><%= micropost.content %></span>
	<span class="timestamp">
		<!--at:1103, timestamp:7:30 -->
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	</span>
</tr>